.header {
    background-color: #232F3E;
    padding: 3px;
    display: flex;
    align-items: center;
    gap: 15px;
    overflow-x: scroll;
}
.headerInputContainer {
    flex-grow: 1;
    display:flex;
}
.headerInput {
    outline: none;
    padding: 7;
    flex: 1;
}
.headerText {
    font-size: 13px;
    color: white;
    font-weight: 500;
}
.headerBottom {
    background-color: #123456;
    padding: 5px;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}
.headerBottomText {
    color: white;
    padding-top: 7px;
    width: fit-content;
}
.header::-webkit-scrollbar {
    width: 0px;
}
.headerBottom::-webkit-scrollbar {
    width: 0px;
}